# --- Laravel Core ---
/vendor
/node_modules
.env
.env.backup
.env.production
.env.*

# --- Laravel Cache ---
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# --- IDE & System Files ---
/.idea
/.vscode
/.nova
/.zed
/.fleet
auth.json
Thumbs.db
.DS_Store
**/.DS_Store
**/Thumbs.db

# --- PHPUnit / Logs ---
.phpunit.result.cache
.phpunit.cache
*.log

# --- Frontend Build ---
/public/build
/public/hot
.vite

# --- AdminLTE / Assets ---
/public/vendor
/public/dist
/public/plugins
/public/asset/dist
/public/asset/docs
/public/asset/plugins

# --- Storage ---
/storage/app/*
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitignore

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/storage/*.key
/storage/pail

# --- Optional ---
*.bak
*.swp
*.tmp