
/node_modules
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
*.log


/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
Homestead.json
Homestead.yaml
Thumbs.db
.DS_Store


/public/vendor

/public/dist
/public/plugins


/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*.php
/storage/logs/*.log
