<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Only redirect if file/folder does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>

# PHP handler (keep this)
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php81 .php .php8 .phtml
</IfModule>